.contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;

  color: #757575;

  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-ul {
  display: flex;

  list-style-position: outside;
}

.tel-link:hover {
  color: red;
}

.mail-link:hover {
  color: red;
}

.tel-link {
  text-decoration: none;
  color: #757575;
  height: 50px;
}

.mail-link {
  text-decoration: none;
  color: #757575;
  background-size: contain;
  /* background-color: darkgoldenrod; */
  padding: 10px 20px;
}

.phone-icon {
  width: 10px;
  height: 15px;
  fill: currentColor;
}

.tel-icon {
  display: block;
  box-sizing: border-box;
  width: 16px;
  height: 11px;
  fill: currentColor;
}
