.contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;

  color: #757575;

  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-ul {
  display: flex;

  list-style-position: outside;
}

.tel-link:hover {
  color: red;
}

.mail-link:hover {
  color: red;
}

.tel-link {
  text-decoration: none;
  color: #757575;
  height: 50px;
}

.mail-link {
  text-decoration: none;
  color: #757575;
  background-size: contain;
  /* background-color: darkgoldenrod; */
  padding: 10px 20px;
}

.phone-icon {
  width: 10px;
  height: 15px;
  fill: currentColor;
}

.tel-icon {
  display: block;
  box-sizing: border-box;
  width: 16px;
  height: 11px;
  fill: currentColor;
}

.works {
  list-style: none;
  margin-right: 20px;
  position: relative;
}

.works-list {
  position: relative;
  overflow: hidden;
}

.rrr {
  overflow: hidden;
}

.works:hover,
.works:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.works-image {
  display: block;
}

.portfolio-item {
  display: flex;
}

.technokryak {
  height: 294px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  margin-bottom: 0;
  margin-top: 0;
  padding: 63px 24px;
}

.overlay {
  background-color: red;
  width: 370px;
  height: 294px;
  position: absolute;
  top: 0;
  opacity: 0;

  transform: translateY(294px);
  transition-duration: 25000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-list:hover .overlay {
  opacity: 1;
  transform: translateY(0px);

  /* transition-property: background-color; 
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  padding-top: 60px;
  padding-bottom: 60px;
}

.aktcent {
  color: $primary-accent-color;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.social-link-reverce {
  display: flex;
  margin-right: 10px;
  margin-bottom: 0;
}

.social-link-reverce:last-child {
  margin-right: 0px;
}

/* .footer-action { */
/* display: flex; */
/* } */

.footer-content {
  display: flex;
  flex-wrap: wrap;
}
